<a href="https://colab.research.google.com/github/YounSooKimTech/self_study/blob/main/100%EC%A0%9C_%EC%B4%88%EA%B8%89.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 초급 문제

### Day 1

In [ ]:
# change the value for a and b

a = input("a: ")
b = input("b: ")

temp = a
a = b
b = temp

print("a=", a)
print("b=", b)

a: 5
b: 100
a= 100
b= 5

In [ ]:
# band name generator exercise
# ask user the name of the city that they grew up in
# ask user for the name of a pet
# combine the city and pet to make band name

greeting = "Welcome to the Band Name Generator"
print(greeting, "\n")

city = input("Which city you grew up in")
pet_name = input("What is the name of a pet?")

band_name = city.capitalize() + " " + pet_name.capitalize()
print("your band name could be " + band_name)

Welcome to the Band Name Generator

Which city you grew up inseoul
What is the name of a pet?cat
your band name could be Seoul Cat

### Day 2

In [ ]:
ex_num = str(input("Type two digit number"))
a_num = int(ex_num[0])
b_num = int(ex_num[-1])

print(f"The sum of two digit number is {a_num+b_num}")

Type two digit number39
The sum of two digit number is 12

In [ ]:
# Day 2: Tip calculator
# $124.56, 12%, 7

print("Welcome to the tip calculator")

user_input = float(input("What was the total bill?: $"))
tip_pct = int(input("What percentage tipe would you like to give? 10, 12, or 15?"))
num_ppl = int(input("How many people to split the bill?"))

pay = (user_input * (1 + tip_pct/100))/num_ppl
pay = round(pay, 2)

print(f"Each person should pay: ${pay}")

Welcome to the tip calculator
What was the total bill?: 124.56
How many people to split the bill?7
What percentage tipe would you like to give? 10, 12, or 15?12
Each person should pay: $19.93

In [ ]:
# f-string vs formatting

first_name = "Corey"
last_name = "Schafer"

sentence1 = "My name is {} {}".format(first_name, last_name)
sentence2 = f"My name is {first_name.upper()} {last_name.capitalize()}"

print(sentence1)
print(sentence2)


person = {"name":"Jenny", "age":23}
sentence3 = "My name is {} and I'm {} years old".format(person["name"], person["age"])
sentence4 = f"My name is {person['name']} nad I'm {person['age']} years old"
print(sentence3)
print(sentence4)

calculation = f'4 times 11 is equal to {4*11}'
print(calculation)

# Day 3

if~:
    do this
else:
  Do those

In [ ]:
# BMI calculator

height = float(input("Enter your height in cm "))
weight = float(input("Enter your weight in kg "))

bmi = weight / height**2

if bmi< 18.5:
  range = "Underweight"
elif bmi < 25:
  range = "normal weight"
elif bmi < 30:
  range = "overweight"
elif bmi < 35:
  range = "obese"
else:
  range = "climinally obese"

print(f"Your bmi is {round(bmi, 2)}. You are {range}")

Enter your height in cm 1.75
Enter your weight in kg 75
Your bmi is 24.49. You are normal weight

In [ ]:
# True Love Calculator
name1 = "Angela Yu"
name2 = "Jack Bauer"

names = name1+name2
names = names.lower()

t = names.count("t")
r = names.count("r")
u = names.count("u")
e = names.count("e")
true_score = t+r+u+e

l = names.count("l")
o = names.count("o")
v = names.count("v")
e = names.count("e")
love_score = l+o+v+e

total_score = int(str(true_score) + str(love_score))
your_score = f'Your score is {total_score}'

# based on the score, tell the user about the love range
if (total_score < 10) | (total_score >90):
  print(your_score , 'you go together like coke and mentos')
elif (total_score >= 40) & (total_score <= 50):
  print(your_score,  "you are algith together")
else:
  print(your_score)

Your score is 53

# Day 4: Randomization and List

In [ ]:
# Coin flip for head or tail
# random.random, random.uniform, random.choice

import random

print(random.uniform(0, 1))
print(random.choice(["H", "T"]))

0.5100728103172015
H

In [ ]:
number = 31
number = str(number)

import numpy as np

empty_matrix = np.full((3,3), " ")
empty_matrix

empty_matrix[int(number[0])-1, int(number[-1])-1] = "X"

empty_matrix

array([[' ', ' ', ' '],
       [' ', ' ', ' '],
       ['X', ' ', ' ']], dtype='<U1')

In [ ]:
import random

# rock = 0; paper = 1; scissors = 2
com_choice = random.randint(0,2)
com_choice

my_choice = int(input("What do you choose? Type 0 for Rock, 1 for paper, and 2 for scissors"))

print(f"my_choice is {my_choice} and computer's choice is {com_choice}")

if my_choice not in range(0,3):
  print("You typed wrong number")
elif my_choice == com_choice:
  print("It's a draw")
elif (my_choice==1) & (com_choice == 0):
  print("You win")
elif (my_choice ==0) & (com_choice ==2):
  print("You win")
elif  (my_choice ==2) & (com_choice ==1):
  print("You win")
else:
  print("You loose")

What do you choose? Type 0 for Rock, 1 for paper, and 2 for scissors-1
my_choice is -1 and computer's choice is 1
You typed wrong number

# Day 5

In [47]:
# password generator

n_letters = 12
n_symbols = 2
n_numbers = 2

import string
import random

nums = random.sample(string.digits, n_numbers)
letters = random.sample(string.ascii_letters, n_letters)
punc = random.sample(string.punctuation, n_symbols)

pwd = nums+letters+punc
random.shuffle(pwd)
pwd = "".join(pwd)
print(pwd)

whIl7>4YduDJEoH*

In [48]:
fruits = ["apple", "peach", "pear"]

for fruit in fruits:
  print(fruit)

apple
peach
pear